body{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/base.png");
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
}
img{
    width: 40%;
    margin: 3% 30% 2%
}
p{
    font-size: 1.2em;
}
ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
ul li a{
    color: #242424;
    font-size: 1.3em
}
.btn-telegram{
    background: #0088cc;
    color: #FFF!important;
    padding: .6% 0;
    display: flex;
    width: 18%;
    cursor: pointer;
    margin: 1% 41% 3%;
}
.btn-youtube{
    background: #ff0000;
    color: #FFF!important;
    padding: .6% 0;
    display: flex;
    width: 18%;
    cursor: pointer;
    margin: 1% 41% 3%;
}
.btn-youtube i{
    width: 30%;
    float: left;
    font-size: 2em;
    border-right: 1px solid #fff
}
.btn-youtube span{
    width: 70%;
    float: left;
    font-size: 1.3em;
}
.btn-telegram:hover, .btn-youtube:hover{
    color: #FFF;
    box-shadow: 8px 10px 30px rgba(255, 255, 255, .6);
}
.btn-telegram i{
    width: 30%;
    float: left;
    font-size: 2em;
    border-right: 1px solid #fff
}
.btn-telegram span{
    width: 70%;
    float: left;
    font-size: 1.3em;
}

@media(max-width: 992px){
    .btn-telegram, .btn-youtube{
        width: 80%;
        margin:  4% 10% 6%;
    }
    img{
        width: 70%;
        margin: 3% 15% 4%;
    }
    ul{
        padding: 0 0 20%;
    }
    h1{
        font-size: 1.8rem!important;
    }
    h3{
        font-size: 1.2rem!important;
    }
}